<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Floralia Mobile"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FloraliaMobileApp"
        tools:targetApi="31">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".PerfilUsuarioActivity"
            android:exported="false"
            android:label="PerfilUsuarioActivity"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".EditarProductoActivity"
            android:exported="false"
            android:label="EditarProductoActivity"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".DetalleCorteActivity"
            android:exported="false"
            android:label="DetalleCorteActivity"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".CortesDeCajaActivity"
            android:exported="false"
            android:label="CortesDeCajaActivity"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".DetallesPedidoActivity"
            android:exported="false"
            android:label="DetallesPedidoActivity"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".InfoAppActivity"
            android:exported="false"
            android:label="InfoAppActivity"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".HistorialPedidosActivity"
            android:exported="false"
            android:label="@string/title_activity_historial_pedidos"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".MenuRepartidorActivity"
            android:exported="false"
            android:label="@string/title_activity_menu_repartidor"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".Usuario"
            android:exported="false"
            android:label="@string/title_activity_usuario"
            android:theme="@style/Theme.FloraliaMobileApp"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".EditarUsuarioActivity"
            android:exported="false"
            android:label="@string/title_activity_editar_usuario"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".UsuarioAdapter"
            android:exported="false"
            android:label="@string/title_activity_usuario_adapter"
            android:theme="@style/Theme.FloraliaMobileApp"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".GestionUsuariosActivity"
            android:exported="false"
            android:label="@string/title_activity_registro_roles"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".ProductoAdapter"
            android:exported="false"
            android:label="@string/title_activity_producto_adapter"
            android:theme="@style/Theme.FloraliaMobileApp"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Producto"
            android:exported="false"
            android:label="@string/title_activity_producto"
            android:theme="@style/Theme.FloraliaMobileApp"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".InventarioActivity"
            android:exported="false"
            android:label="@string/title_activity_inventario"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".AgregarProductoActivity"
            android:exported="false"
            android:label="@string/title_activity_agregar_producto"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.FloraliaMobileApp"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuEmpleadoActivity"
            android:exported="false"
            android:label="@string/title_activity_menu_empleado"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".MenuAdministradorActivity"
            android:exported="false"
            android:label="@string/title_activity_menu_administrador"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".AgregarUsuarioActivity"
            android:exported="false"
            android:label="@string/title_activity_agregar_usuario"
            android:theme="@style/Theme.FloraliaMobileApp" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.FloraliaMobileApp" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
